@import './fonts.scss';
@import './reset.scss';


.hs-mega-menu {
  height: fit-content !important;
}

.slider-dots-in-row  {
  display: flex !important;
}

.nav-item {
  cursor: pointer !important;
}