@import './fonts.scss';
@import './reset.scss';


.hs-mega-menu {
  height: fit-content !important;
}

.slider-dots-in-row  {
  display: flex !important;
}

.nav-item {
  cursor: pointer !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.15s linear ;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}